body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}



.header-back{
    background-color: #ffffff;
    padding: 12px 0;
}
.nav-back{
    width: 80%;
    margin: 0 auto;
}
.nav-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    width: 20%;
}
.nav-logo img{
    width: 180px;
}
.nav-menu{
    width: 80%;
}
.nav-menu-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}
.nav-menu.show{
    display: block !important;
    transition: max-height 0.25s ease-in;
}
.nav-list-item{
    padding: 0 12px;
}
.nav-list-link{
    font-size: 15px;
    font-weight: 500;
    color: #00000080;
    text-transform: uppercase;
    padding: 0;
    transition: .4s;
}
.nav-list-link:hover{
    color: #000;
    text-decoration: none;
}
.nav-list-link.active{
    color: #000;
}
.menu-icon-wrap{
    display: none;
    text-align: right;
}
.menu-icon-wrap img{
    width: 40px;
}
@media (max-width: 1200px){
    .nav-menu-item{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    .menu-icon-wrap{
        display: block;
    }
    .nav-menu{
        width: 100%;
        margin: 12px 0 0;
    }
    .nav-list-item{
        padding: 8px 0;
    }
    .nav-list-link{
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .page-wrap {
        padding: 0 25px !important;
    }
    .nav-logo img{
        width: 150px;
    }
}

/*Header*/

/*Footer*/

.footer-back {
    background-image: url(footer.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 7%;
    padding: 80px 0;
}

.footer-wrap{
    width: 80%;
    margin: 0 auto;
}

.footer-mar {
    margin: 0 -15px !important;
    display: flex;
    flex-wrap: wrap;
}

.foo-width-1{
    width: 45%;
}

.foo-width-2{
    width: 25%;
}

.foo-width-3{
    width: 30%;
}

.footer-pad {
    padding: 0 18px !important;
}

.footer-text h1 {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-bottom: 25px;
}

.footer-para {
    color: #ffffff;
    font-size: 15px;
    line-height: 2.3;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.footer-text a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 22px;
    display: block;
}

.footer-text a:hover {
    color: #a7a7a7;
    text-decoration: none;
}

.footer-text .address {
    color: #ffffff;
    font-size: 15px;
    line-height: 3;
    font-weight: 400;
}

.media-icon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.media-icon img {
    width: 25px;
    margin-right: 15px;
}

.footer-bottom p {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-links a {
    display: inline-block;
    font-size: 13px;
    color: #ebebea;
    margin-left: 20px;
}

.footer-links {
    text-align: right;
}

.footer-border {
    border-top: 2px solid #7b7978;
    margin: 15px 0 0 0;
    padding: 50px 0 0 0;
    text-align: center;
    width: 100%;
}

@media (max-width: 992px) {
    .footer-text h1 {
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .footer-para {
        font-size: 13px;
        line-height: 2;
    }

    .footer-text a {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .footer-text .address {
        font-size: 13px;
        line-height: 2;
    }

    .media-icon i {
        font-size: 20px;
        margin-right: 15px;
    }

    .footer-bottom p {
        font-size: 13px;
    }

    .footer-back {
        padding: 30px 0;
    }

    .footer-border {
        padding: 25px 0 0 0;
    }

    .foo-width-1{
        width: 100%;
    }

    .foo-width-2{
        width: 50%;
    }

    .foo-width-3{
        width: 50%;
    }
}

@media (max-width: 767px) {
    .footer-bottom p {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .foo-width-1{
        width: 100%;
    }

    .foo-width-2{
        width: 100%;
    }

    .foo-width-3{
        width: 100%;
    }
}

/*Footer*/

/*Slider*/

.slider-back .carousel-caption {
    top: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.slider-back .carousel-item {
    height: 100vh;
}

.slider-back .carousel-item .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-back .slider-text {
    margin: 0 auto;
}

.slider-text h5 {
    font-size: 50px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 20px;
}

.slider-text a {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #ffffff4a;
    padding: 10px;
    letter-spacing: 1.1px;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
    width: 250px;
    background-color: #ffffff4a;
}

.slider-text a:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 50%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.slider-back .carousel-indicators {
    display: none;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 20;
}

@media (max-width: 992px) {
    .slider-back .carousel-item {
        height: 60vh;
    }

    .slider-text a {
        width: 200px;
    }
}

/*Slider*/

/*Home*/

.cinematic-btn {
    padding: 0 20px !important;
}

.cinematic-btn a {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border: 1px solid #fff;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    padding: 15px 10px;
    font-weight: 300;
}

.cinematic-btn a:hover {
    color: #000;
}

.cinematic-link {
    color: #fff;
    text-decoration: none;
}

.cinematic-link:hover {
    color: #000;
    text-decoration: none;
}

.sub-topic {
    font-size: 27px;
    color: #fff;
    letter-spacing: 1.6px;
    font-weight: 600;
    margin: 0 auto;
}

.portfolio-topic {
    margin: 80px 0 40px;
}

.top-portfolio-mar {
    margin: 0 -5px !important;
}

.portfolio-mar {
    margin: -5px !important;
}

.portfolio-pad {
    padding: 5px !important;
}

.img {
    padding-top: 50%;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    transition: .4s;
}

.img img:hover {
    transform: scale(1.1)
}

.img-hover {
    overflow: hidden;
}

.img-hover img {
    transform: scale(1);
    transition: .4s;
}

.img-hover img:hover {
    transform: scale(1.1)
}

.specialties-img-back {
    margin: 80px -10px 0 !important;
}

.specialties-img {
    padding: 10px !important;
    overflow: hidden;
}

.specialties-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    transition: transform .4s;
    cursor: pointer;
}

.specialties-img .img-wrap {
    overflow: hidden;
}

.specialties-img img:hover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transform: scale(1.1)
}

.specialties-box {
    position: relative;
    z-index: 2;
}

.specialties-img p {
    position: absolute;
    bottom: 20px;
    right: 0;
    background: #000000a3;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 15px;
    width: 100%;
    text-align: left;
}

.side-img-right {
    position: absolute;
    top: -15%;
    right: 0;
}

.side-img-right img {
    width: 100%;
}

.side-img-left {
    position: absolute;
    top: 0;
    left: 0;
}

.journal-slider {
    margin: 0 -20px !important;
}

.journal-slider .journal-slider-img {
    height: 250px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.journal-text {
    background: #fff;
    padding: 0 25px 25px;
}

.journal-text span {
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    background-color: #000000ab;
    width: max-content;
    margin: 0 auto;
    position: relative;
    top: -17px;
    padding: 6px 25px;
    text-transform: uppercase;
}

.journal-text h1 {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.journal-text p {
    color: #b6b6b6;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 10px 0 0;
    margin: 0;
}

.load-more-btn {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #ffffff4a;
    padding: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
    display: block;
    margin: 20px auto;
    width: 250px;
    background-color: #ffffff4a;
    text-align: center;
}

.load-more-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.insta-img-mar {
    margin: 0 -5px !important;
}

.insta-img-box {
    padding: 5px !important;
}

.insta-img-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.insta-back {
    margin-top: 80px;
}

.insta-back p {
    padding-right: 25px;
}


@media (max-width: 1024px) {
    .specialties-img p {
        bottom: 0;
        font-size: 13px;
        padding: 5px;
    }

    .journal-text span {
        font-size: 13px;
    }

    .journal-text h1 {
        font-size: 15px;
    }

    .journal-text p {
        font-size: 13px;
    }

    .journal-text {
        padding: 0 15px 15px;
    }
}

@media (max-width: 768px) {
    .cinematic-btn a {
        font-size: 16px;
    }

    .cinematic-btn {
        padding: 0 30px !important;
    }

    .slider-text h5 {
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .cinematic-btn a {
        font-size: 14px;
        margin-bottom: 15px;
        padding: 6px;
    }

    .cinematic-btn {
        padding: 0 45px !important;
    }

    .brides-logo img {
        width: 220px;
    }

    .brides-logo {
        margin: 25px;
    }

    .brides-topic {
        font-size: 20px;
    }

    .brides-slider-para {
        font-size: 13px;
    }

    .slider-bg {
        margin: 10% 0;
    }

    .portfolio-topic {
        margin: 40px 0;
    }

    .specialties-img-back {
        margin: 40px -10px 0 !important;
    }

    .sub-topic {
        font-size: 25px;
    }

    .insta-back {
        margin: 40px 0;
    }

    .insta-back p {
        padding-right: 15px;
    }
}

@media (max-width: 576px) {
    .slider-text h5 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .slider-text a {
        font-size: 13px;
        padding: 7px 25px;
    }

    .brides-slider .carousel-item {
        padding: 0 56px !important;
    }
}

.about-mar {
    margin: 7% -20px 0 !important;
}

.about-pad {
    padding: 0 20px !important;
}

.about-mar img {
    width: 100%;
}

.about-min-mar {
    margin: 0 -25px !important;
}

.about-min-pad {
    padding: 0 25px !important;
}

.about-para {
    color: #b6b6b6;
    font-size: 15px;
    margin: 20px 0 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.about-bg-img {
    padding-top: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

.about-bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.read-more {
    font-size: 14px;
    color: #b6b6b6;
    text-decoration: none;
    border: 1px solid #b6b6b6;
    padding: 5px 15px;
    margin-top: 0;
}

.read-more:hover {
    text-decoration: none;
    color: #fff;
    background-color: #b6b6b6;
}

.about-para-back {
    margin: 0 30px 25px;
}

@media (max-width: 1024px) {
    .about-mar {
        margin: 7% -15px 0 !important;
    }

    .about-pad {
        padding: 0 15px !important;
    }

    .about-para-back {
        margin: 0 25px 25px;
    }

    .about-min-pad {
        padding: 0 15px !important;
    }

    .about-min-mar {
        margin: 0 -15px !important;
    }

    .about-para {
        font-size: 14px;
        margin: 30px 0 20px;
    }

    .read-more {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .about-min-pad {
        padding: 0 15px 15px !important;
    }

    .about-mar {
        margin: 40px -15px 0 !important;
    }

    .about-para-back {
        margin: 0;
    }

    .about-para {
        font-size: 14px;
        margin: 20px 0 20px;
    }

    .about-topic {
        margin-top: 25px;
    }
}
